<%- include("../partials/head.ejs")  %>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h4>Phone Number: <span class="detail">(254) 408-1331</span></h4>
            <h4>Email: <span class="detail">LongRunningDispatch@gmail.com</span></h4>

        </div>
    </div>
</div>