<%- include("../partials/head.ejs")  %>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h4>Phone Number: (254) 408-1331</h4>
        </div>
    </div>
</div>