<%- include("../partials/head.ejs")  %>

<div class="container-fluid fixed-top navMenu">
    <div class="row text-center">
        <div class="col text-center"><h1 class="newFont">Regal Dispatching</h1></div>
    </div>
    <div class="row text-center pb-2">
        <div class="col b-right"><a class="navbar-brand" href="/">Home</a></div>
        <div class="col b-right"><a class="navbar-brand" href="/Drivers">Drivers</a></div>
        <div class="col b-right"><a class="navbar-brand" href="/Shippers">Shippers</a></div>
        <div class="col "><a class="navbar-brand" href="/Contact">Contact</a></div>
    </div>
</div>
<div style="height: 5rem;">
</div>