body {
    background-color: #FFFBFC !important;
}

.navMenu {
    background-color: #62c371e7;
}

a {
    color: #FFFBFC !important;
    font-size: 1.25rem !important;
}

h3 {
    color: #000000;
}

.b-right {
    border-right: .15rem solid black;
}

.infoSection {
    background-color: #EFEFEF;
}

.formHalfTextbox {
    width: 50%;
    height: 2rem;
}
.formFullTextbox {
    width: 100%;
}

button {
    height: 2.5rem !important;
    margin: 1rem 0 !important;
    width: 50%;
}
