.navMenu {
    background-color: #62c371e7;
    
}

a {
    color: #FFFBFC !important;
    font-size: 1.25rem !important;
}

h3 {
    color: #000000;
}

.b-right {
    border-right: .15rem solid black;

}
