<%- include("../partials/nav")  %>

<div class="infoSection text-center">
    <h1>SUCCESS</h1>
    <h3>You have successfully submitted your request </h3> <h3>We will review your requests and contact you as soon as we can.</h3>
    <button class="btn btn-primary" onclick="window.location.href='/'">Back To Home</button>
</div>