<%- include("../partials/nav")  %>

<div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0 text-center">
        <img class="img-fluid" src="https://i.imgur.com/Aa5sKMR.jpg">
      </div>
    </div>  
</div>
<div class="container">
    <div class="row mt-3 mb-2">
        <div class="col text-center">
            <h2 class="newFont">Welcome Drivers!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 infoSection mb-3">
            <p class="pt-3">As a professional and reputable dispatching service, we require all drivers to provide us with their Authority, Insurance, and W9 form. This ensures that our clients can trust that their shipments are being handled by qualified and insured drivers.</p>
            <p>In addition, we ask all drivers to sign our power of attorney letter. This gives us the authority to act on their behalf in matters related to freight transportation and billing.</p>
            <p>Our dispatching service works with a variety of low board and shippers, providing drivers with a diverse range of opportunities for hauling freight. Our dispatch fee is competitively set at 8% of the total freight cost.</p>
            <p>We understand that some drivers may have a factoring company they work with, if that's the case we would be happy to work with them as well.</p>
            <p>As for the payment terms, we require drivers to pay us within 10-15 days of receiving their dispatch or else a late fee will be applied to the invoice. This helps ensure prompt and efficient payment for our services.</p>
            <p>Thank you for choosing our dispatching service for your professional trucking needs. We look forward to working with you!</p>
        </div>
    </div>
</div>
<%- include("../partials/footer")  %>
