<%- include("../partials/nav")  %>

<div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0 text-center">
        <img class="img-fluid" src="https://i.imgur.com/6SafKxI.jpg">
      </div>
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="newFont">From The Home To The Site, We Have You Covered</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 infoSection">
            <h4 class="text-center pt-3">About Us</h4>
            <p>Here at Regal Dispatching, our team is comprised of experienced individuals dedicated to helping both drivers and shippers get the service they deserve.</p>
            <p>Operating with safety, transparency, and efficiency are just a few of the values instilled in our team.</p>
            <p>Consisting of former drivers themselves, you can rest assured that Regal Dispatching has the competency and the motivation to be able to meet whatever needs you may have of us.</p>
        </div>
        <div class="col-lg-6 infoSection">
            <h4 class="text-center pt-3">Locations Serviced</h4>
            <ul>
                <li>Houston, TX</li>
                <li>New York, NY</li>
                <li>Dallas, TX</li>
                <li>Kansas City, KS</li>
                <li>San Francisco, CA</li>
            </ul>
        </div>
    </div>
</div>