<%- include("../partials/nav")  %>

<div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0 text-center">
        <img class="img-fluid" src="https://i.imgur.com/6SafKxI.jpg">
      </div>
    </div>  
</div>
<div class="container">
    <div class="row mt-3 mb-2">
        <div class="col text-center">
            <h2 class="newFont">From The Home To The Site, We Have You Covered</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 infoSection">
            <h4 class="text-center pt-3">About Us</h4>
            <p>We are a dispatching service for 18 wheelers, reefer, van, and flatbed trailer drivers that is owned and operated by former drivers. We understand the trucking industry from both sides of the equation, and we are committed to providing our clients with the best possible transportation solutions. We know that in the trucking industry, time is money and we are dedicated to getting our clients' shipments to their destination on time, every time.</p>
            <p>We have a team of experienced dispatchers, all of which have a deep understanding of the trucking industry, have driven and have a first-hand knowledge of the logistics of freight transportation. Our dispatchers work closely with drivers, shippers, and receivers to ensure that every shipment is handled efficiently and effectively.</p>
            <p>Our dispatching service is built on a foundation of trust, reliability, and communication. We understand the needs and the daily challenges of truck drivers and shippers, that's why we pride ourselves on providing clear and timely communication to our drivers and shippers, keeping them informed about their shipments, and addressing any concerns or issues that may arise.</p>
            <p>We understand the importance of safety and compliance and as former drivers, we strive to maintain a high standard of safety and professionalism. We know the regulations, the routes and how to navigate through the industry and we are here to help our fellow drivers and shippers to do the same.</p>
            <p>We appreciate the trust that our clients and drivers place in us and are committed to providing the best possible service. As former drivers ourselves, we understand the needs and wants of our fellow truck drivers, and are committed to providing them with the resources and support they need to be successful. If you're a driver or shipper looking for a dispatching service that understands your needs and is dedicated to your success, look no further!</p>
            <p>Thank you for choosing our dispatching service for your transportation needs, we are here to help you achieve success.</p>
        </div>
        <div class="col-lg-6 infoSection">
            <h4 class="text-center pt-3">Locations Serviced</h4>
            <ul>
                <li>Houston, TX</li>
                <li>New York, NY</li>
                <li>Dallas, TX</li>
                <li>Kansas City, KS</li>
                <li>San Francisco, CA</li>
            </ul>
        </div>
    </div>
</div>

<%- include("../partials/footer")  %>