<%- include("../partials/nav")  %>

<div class="container-fluid">
    <div class="row">
      <div class="col-12 px-0 text-center">
        <img class="img-fluid" src="https://i.imgur.com/6SafKxI.jpg">
      </div>
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>From The Home To The Site, We Have You Covered</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 infoSection">
            <h4 class="text-center">About Us</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque magni consectetur beatae minima rerum exercitationem dolorem, numquam non quam, minus, consequuntur fugiat necessitatibus vitae perferendis sed reiciendis? Provident necessitatibus perspiciatis nemo laboriosam dolor saepe natus dicta debitis itaque quaerat porro at laudantium nisi similique quam, unde veritatis mollitia fuga aperiam quos iste distinctio maxime perferendis! Nemo, ad. Repellendus quas facere delectus veniam velit harum nobis labore consectetur itaque fuga explicabo alias ab rerum quae quaerat similique molestiae sed, sit eligendi tempore ad perferendis qui a sapiente?</p>
        </div>
        <div class="col-lg-6 infoSection">
            <h4 class="text-center">Locations Serviced</h4>
            <ul>
                <li>Example 1</li>
                <li>Example 2</li>
                <li>Example 3</li>
                <li>Example 4</li>
                <li>Example 5</li>
            </ul>
        </div>
    </div>
</div>